* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  margin: 0 auto;
  color: #003DCC;
  background-color: black;
}

a {
  color: #003DCC;
  text-decoration: none;
}

.landing_page {
  width: 100%;
  height: 90vh;
  margin-bottom: 10vh;
}
.landing_page .landing_page_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.landing_page .landing_page_item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing_page .landing_page_item .landing_img img {
  width: 90%;
  max-height: 100%;
  cursor: pointer;
}
.landing_page .landing_txt {
  font-weight: 100;
  width: 45%;
}
.landing_page .landing_txt h3 {
  font-size: 3vw;
  padding: 5% 0% 5% 0%;
}
.landing_page .landing_txt h4 {
  font-size: 2vw;
}
.landing_page .landing_txt p {
  font-size: 1.5vw;
  line-height: 1.5em;
  padding: 5% 0% 5% 0%;
}
.landing_page .networks_box {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.landing_page .networks_box img {
  width: 100%;
  height: 40px;
}

.line {
  background-color: #003DCC;
  width: 90%;
  margin: auto;
  border: 0.5px solid #003DCC;
}

.half_line {
  background-color: #003DCC;
  width: 50%;
  margin-left: 2%;
  border: 0.5px solid #003DCC;
}

.title {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  padding-bottom: 3%;
  font-size: 3vw;
}

.reveal {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.last_projects {
  display: flex;
  flex-direction: column;
}
.last_projects .last_projects_box {
  display: flex;
  margin-top: 3%;
}
.last_projects .project_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}
.last_projects .project_txt {
  width: 50%;
  line-height: 2em;
}
.last_projects .project_txt h3 {
  font-size: 2.5vw;
  padding: 5% 0% 5% 0%;
}
.last_projects .project_txt p {
  font-size: 1.2vw;
}
.last_projects .project_txt h4 {
  font-size: 1.5vw;
  padding: 2% 0% 2% 0%;
}
.last_projects .project_txt h5 {
  font-size: 1.2vw;
}
.last_projects .project_img {
  width: 40%;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last_projects .project_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.last_projects .project_img .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.last_projects .project_img .middle .text {
  background-color: #003DCC;
  color: white;
  font-size: 16px;
  padding: 16px 42px;
}

.project_img:hover img {
  opacity: 0.3;
}

.project_img:hover .middle {
  opacity: 1;
}

.hard_skills_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hard_skills_section .hard_skills_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.hard_skills_section .hard_skills_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  cursor: pointer;
  width: 20%;
}
.hard_skills_section .hard_skills_items svg {
  width: 50%;
}
.hard_skills_section .hard_skills_items .hard_skills_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c29;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgba(88, 199, 250, 0);
  cursor: pointer;
  font-family: cursive;
}
.hard_skills_section .hard_skills_items h3 {
  margin-top: 10%;
}

.hard_skills_circle:hover {
  color: #58c7fa;
  transition: color 1s;
}

.hard_skills_circle:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}

.hard_skills_circle::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 50%;
  background-image: linear-gradient(var(--rotate), #5ddcff, #003DCC 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
footer {
  margin-top: 20%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer_box {
  margin-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
footer .footer_box li {
  list-style-type: none;
  font-size: 20px;
  line-height: 2em;
  cursor: pointer;
}

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
